[submodule "ChickenBroth/vendor/GLFW"]
	path = ChickenBroth/vendor/GLFW
	url = https://github.com/woghrk12/glfw
[submodule "ChickenBroth/vendor/spdlog"]
	path = ChickenBroth/vendor/spdlog
	url = https://github.com/woghrk12/spdlog
[submodule "ChickenBroth/vendor/glm"]
	path = ChickenBroth/vendor/glm
	url = https://github.com/woghrk12/glm
[submodule "ChickenBroth/vendor/imgui"]
	path = ChickenBroth/vendor/imgui
	url = https://github.com/woghrk12/imgui
